@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --lighter-green: #a7c957;
    --light-green: #75b22c;
    --beige: #f3e8cf;
    --red: #bb4748;
}


* {
    padding: 0;
    margin:0;
    font-family: "Philosopher", sans-serif;
}

/* Navigation bar */
#nav-bar {
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: var(--beige);

}
.nav-div, .nav-links {
    display: flex;
    flex-wrap: wrap;

}

.nav-div {
    justify-content: space-between;
    align-items: center;  
    height: 12vh;
    font-size: 1.8rem;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;;
    cursor: default;
}

.logo {
    height: 4rem;
    width: auto;;
}

.nav-links {
    list-style: none;
    gap: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-links a {
    display: inline-block;
    text-decoration: none;
    color: black;
    border-radius: 0.4rem;
    padding: 0.5rem;
    transition: transform 0.3s ease;
}

.nav-links a:hover{
    color: var(--red);
    transform: scale(1.2);
}

.nav-btn.active {
    color: var(--red);
}

@media only screen and (max-width: 480px) {
    .logo {
        height: 1.4rem;
    }

    .nav-links {
        gap: 0.3rem;
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 630px) and (min-width: 481px) {
    .logo {
        height: 2rem;
    }

    .nav-links {
        gap: 1rem;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 800px) and (min-width: 631px) {
    .logo {
        height: 3rem;
    }

    .nav-links {
        gap: 1.3rem;
        font-size: 1.2rem;
    }
}


