@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --lighter-green: #a7c957;
    --light-green: #75b22c;
    --beige: #f3e8cf;
    --red: #bb4748;
}


* {
    padding: 0;
    margin:0;
    /* font-family: "Montserrat", sans-serif; */
    font-family: "Roboto Slab", serif;
}

/* Navigation bar */
#nav-bar {
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: var(--beige);
}
.nav-div, .nav-links {
    display: flex;
    flex-wrap: wrap;
}

.nav-div {
    justify-content: space-between;
    align-items: center;  
    height: 12vh;
    font-size: 1.8rem;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;;
    cursor: default;
}

.logo {
    height: 4rem;
    width: auto;;
}

.icon {
    height: 3rem;
}

.nav-links {
    list-style: none;
    gap: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-links a {
    text-decoration: none;
    color: black;
    border-radius: 0.4rem;
    padding: 0.5rem;
}

.nav-links a:hover{
    color: var(--red);
    background-color: var(--lighter-green);
}

.nav-btn.active {
    color: var(--red);
}
