/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


:root {
    --lighter-green: #a7c957;
    --light-green: #75b22c;
    --beige: #f3e8cf;
    --red: #bb4748;
    --grey: #605757;
    --orange-color: #ff9a00;
}


* {
    padding: 0;
    margin:0;
    font-family: "Montserrat", sans-serif;
}


html {
    scroll-behavior: smooth;
}
/* Home */
#home {
    padding: 2rem;
    height: 68vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--beige); 
}

.home-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    max-width: 1200px; 
    padding: 3rem;
}

.home-content {
    flex: 2; 
    padding: 5%;
    cursor: default;
}

.home-title {
    /* text-align: center; */
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--red);
}

.home-description {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 3rem;
    border-radius: 2rem;
}

.home-btn {
    padding: 0.8rem 1.5rem;
    background-color: var(--beige);
    color: black;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    border-radius: 2rem;
    border-color: black;
    border-width: 0.2rem;
    
}

.home-btn:hover {
    background-color: var(--red); 
    transform: scale(1.1);
}

.home-image-container {
    flex: 1; 
    /* text-align: right; */
}

.home-image {
    max-width: 25rem; 
    height: auto;
    border-radius: 15rem;
}

/* About */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/images/About-image.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

#about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
}

.about-content {
    padding: 10rem;
    position: relative;
    z-index: 2; 
    color: var(--beige);
}

.about-title {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 2rem;
    animation : moveDown 1s ease forwards;
}

.about-text {
    font-size: 1.4rem;
    animation : moveUp 1s ease forwards;
}

@keyframes moveUp {
    0% {
        transform: translateY(30%); 
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(-80%); 
    }
}

/* Recipes */
#recipes {
    padding: 2rem;
    background-color: var(--red);
}

.title-recipes, .text-recipes {
    padding-bottom: 1rem;
}
.title-recipes {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.text-recipes {
    font-size: 2rem;
    color: rgb(247, 137, 196);
    text-align: center;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
    /* padding: 2rem; */
    overflow: hidden;
}
 
.slider {
	display: flex;
	aspect-ratio: 15/ 9;
    /* ini supaya gambar yg overflow ke hide */
	overflow-x: auto;
    overflow-y: hidden;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 2rem;
	-ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Ensure the parent container has relative positioning */
.recipes-holder {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  }
  
  /* Existing button styling */
  .slider-button {
      position: absolute;
      bottom: 3rem;
      right: 4rem;
      padding: 1rem 3rem;
      background-color: var(--grey);
      opacity: 0.6;
      border: none;
      cursor: pointer;
      border-radius: 2rem;
      transition: background-color 0.3s ease;
  }

  .slider-button a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
  }
  
  /* Button hover effect */
  .slider-button:hover {
      background-color: var(--light-green);
      opacity: 1;
      transform: scale(1.1);
  }
  
  /* Hide scrollbar */
  .slider::-webkit-scrollbar {
      display: none;
  }
  
  /* Flex-grow, flex-shrink, flex-basis for images */
  .recipes-holder img {
      flex: 1 0 100%;
      height: auto;
      width: auto;
      
      scroll-snap-align: start;
      object-fit: cover;
  }
.slider-nav {
	display: flex;
    /* background-color: rgb(235, 233, 233); */
    justify-content: center;
	column-gap: 1rem;
	position: relative;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}



.slider-nav a {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background-color: rgb(170, 163, 163);
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
    background-color: black;
}
.slider-nav a.active {
    opacity: 1;
    background-color: black; /* or another color to highlight the active indicator */
}

/* Nutrisi */
#nutrisi {
    padding: 3rem 0;
}

.wrapper {
    padding: 1rem 10%;
}

.title-nutrisi {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1rem;
}

.text-nutrisi {
    font-size: 2rem;
    color: var(--grey);
    text-align: center;
}
.box-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2.5rem;
    margin-top: 3rem;
}

.box {
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0.3rem 0.3rem 1rem var(--grey);
    box-sizing: border-box;
    /* opacity: 0.5; */
    
}

.box img {
    width: 100%;
    border-radius: 1rem;
    display: block;
    transition: transform 0.5s;
}

.overlay h3 {
    font-weight: 500;
    margin-bottom: 0.4rem;
    margin-top: 35%; 
    font-size: 2rem;
    letter-spacing: 0.5rem;
}

.overlay {
    height: 0;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(transparent, #1c1c1c 58%);
    border-radius: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    padding: 1rem; 
    text-align: center;
    font-size: 1rem;
    transition: height 0.5s ease-in-out; 
    color: white;
}

.overlay a {
    margin-top: 1rem;
    color: var(--grey);
    text-decoration: none;
    font-size: 1rem;
    background-color: white;
    border-radius: 3rem;
    text-align: center;
    padding: 0.3rem 1rem;
}

.overlay a:hover{
    transform: scale(1.2);
}

.box:hover img {
    transform: scale(1.2);
}

.box:hover .overlay {
    height: 100%;
}

.nutrisi-button {
    margin: 0.5rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}
/* Footer */
